<h2><%= author.name %></h2>
<div class="show">
<div class="btn">
<a class="btn-text" href="/authors/<%= author.id %>/edit">Edit</a>
</div>
<%- include('../partials/deleteForm',
            { url: `/authors/${author.id}` }) %>
</div>
<% if (booksByAuthor.length > 0) { %>
  <h2>Books By Author</h2>
  <div class="books-by-author">
  <% booksByAuthor.forEach(book => { %> 
    <a href="/books/<%= book.id %>">
      <img class="book-image" height="200" width="150" src="<%= book.coverImagePath %>">
    </a>
 
  <% }) %>
</div>
<% } %>
